{% extends "main/layout.html" %}
{% load static %}
{% block body %}
<main>
    <div class="aftter-header">
        <h2 class="text-2">Travelogues</h2>
    </div>
    <div class="center-d">
        <div class="button-box">
            <a href="#" class="selected">
            Newest
            </a>
            <a href="#" class="titre">
            Most visited
            </a>
            <a href="#" class="titre">
            Most visited
            </a>
            <a href="#" class="titre">
            Most Popular
            </a>
        </div>
    </div>
    <div class="wrapper-card">
        <div class="cantainer">
            <div class="all-card">
                {% for t in travelogues %}
                <div class="card">
                    <h3 class="text-card">
                        {{t.title}}
                    </h3>
                    <p style="text-align: left;">{{t.content|truncatewords:40}} <br> <a href="{% url 'main:travelogue' t.slug %}"><b>more...</b></a></p>
                    <div class="comment">
                        <div class="text-like">
                            <img class="viwe" src="{% static 'main/assesst/image/travel/viwe.png' %}" alt="viwe" />
                            <P>103</P>
                        </div>
                        <div class="text-like" >
                            <img class="like" src="{% static 'main/assesst/image/travel/like.png' %}"  alt="like"/>
                            <p>102</p>
                            
                        </div>
                        <p class="diat"> 31 OCTOBER 2023</p>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}